.bx-search-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  flex-shrink: 0;
  margin: 0.5rem 0.5rem 1rem;
  position: relative;
  min-width: 15rem;
}

.bx-search-form-input-block {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: stretch;
  position: relative;
}

.bx-search-form-input {
  font-size: 1.2rem;
  height: 1.8rem;
  flex-grow: 100;
  flex-shrink: 100;
  padding-right: 2rem;
}

.bx-search-form-history-button {
  border: solid 1px #7f7f7f;
  font-size: 1.2rem;
  height: 2rem;
  margin-left: 0.25rem;
  width: 2rem;
}

.bx-search-form-history-button:hover {
  background: #cccccc;
}

.bx-search-form-history-block {
  position: relative;
}

.bx-search-form-history {
  background: #ffffff;
  border: solid 1px #7f7f7f;
  position: absolute;
  width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.bx-search-form-history-item {
  cursor: pointer;
  padding: 0.25rem;
}

.bx-search-form-history-item:hover {
  background: #cccccc;
}

.bx-search-form-options {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.25rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.bx-search-form-options label {
  padding: 0.25rem;
}

.bx-search-form-submit {
  position: absolute;
  right: 2.25rem;
  top: 0.35rem;
  width: 2rem;
  text-align: right;
}

.bx-search-form-blocker {
  position: absolute;
  top: 0;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.9);
  border: solid 1px #7f7f7f;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.bx-search-form-blocker-label {
  font-size: 1.5rem;
  padding: 1rem;
}
.bx-search-form-blocker-path {
  font-size: 0.6rem;
  padding: 0.25rem;
}
.bx-search-form-blocker-count {
  font-size: 1rem;
  padding: 0.25rem;
}
.bx-search-form-blocker-count span {
  font-weight: bold;
}
.bx-search-form-blocker-stop {
  font-size: 1em;
  padding: 1rem;
}
.bx-search-form-blocker-stop button {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 2rem;
  border: solid 1px #7f7f7f;
  background: #ffffff;
}
.bx-search-form-blocker-stop button:hover {
  background: #f0f0ff;
}
.bx-search-form-blocker-stop button span {
  color: red;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  line-height: 2rem;
}
