.bx-verselist {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-shrink: 100;
  flex-grow: 100;
  overflow: hidden;
}

.bx-verse {
  margin: 1px;
  background: #f2f2ff;
  padding: 0.25em 0.5em;
  line-height: 1.4em;
  transition: background 0.3s;
}

.bx-verse:hover {
  background: #ffffff;
  box-shadow: inset 0 0 20px rgba(0,63,0,0.2);
}

.bx-verse.bx-highlighted {
  background: #c0ffc0;
}

.bx-verse-handle {
  width: 20px;
}

.bx-verse-header {
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}

.bx-verse img {
  max-width: 100%;
}

.bx-verse.selected {
  background: #fffff2;
}

.bx-verse.selected:hover {
  background: #fffff0;
}

.bx-verse-num {
  font-weight: bold;
  margin-right: 0.5em;
}

.bx-verse-list-toolbar {
  background: #f0f0f5;
  box-shadow: 0.5em 0.5em 0.5em #f0f0f5,
    -0.5em -0.5em 0.5em #f0f0f5,
    -0.5em 0.5em 0.5em #f0f0f5,
    0.5em -0.5em 0.5em #f0f0f5;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bx-verse-list-toolbar>* {
  margin-right: 0.25em;
}

.bx-toolbar-separator {
  display: block;
  width: 1px;
  height: 2em;
  background: #7f7f7f;
}

.bx-verse-list-content {
  flex-grow: 100;
  flex-shrink: 100;
  overflow-y: auto;
  padding: 0 0.5em 0.5em;
  margin-bottom: 0.5rem;
}

.bx-verse-list-content:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.bx-toolbar-text {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-left: 1em;
}

.bx-verse-list-chapter {
  /*margin-top: .5em;*/
  border-bottom: solid 0.25em #cccccc;
}

.bx-verse-list-chapter .bx-verse-list-chapter-content {
  display: inline-block;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  background: #cccccc;
  font-weight: bold;
  font-size: .7em;
  padding: .25em 1em .20em .75em;
  margin-left: .5em;
}

.bx-verse-list-chapter.active {
  border-bottom: solid 0.25em #99d5cc;
}

.bx-verse-list-chapter.active .bx-verse-list-chapter-content {
  cursor: pointer;
  background: #99d5cc;
}

.bs-verse-xrefs {
  /*background: #ddeef5;*/
  border-top: solid 1px #ddddff;
  margin: 0.25em;
  font-size: 0.7em;
}

.bx-verse-xref {
  cursor: pointer;
  color: #0000ff;
  margin: 0.25em;
}

.bx-verse-xref-tools {
  float: right;
  visibility: hidden;
}
.bs-verse-xrefs:hover .bx-verse-xref-tools {
  visibility: visible;
}

.bx-verse-icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  color: #99d5cc;
  fill: #99d5cc;
  line-height: 1em;
  vertical-align: middle;
}
.bx-verse-icon svg {
  width: 100%;
}