.bx-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 100;
  flex-shrink: 100;
  justify-content: stretch;
  overflow: hidden;
}

.bx-tabs-bar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: solid 1px #7f7f7f;
  height: 2rem;
  overflow-y: hidden;
}

.bx-tabs-bar-tabs {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-grow: 100;
  flex-shrink: 100;
  justify-content: stretch;
  overflow-x: auto;
  padding-bottom: 50px;
  white-space: nowrap;
}

.bx-tabs-bar-tab {
  align-items: stretch;
  border-top: solid 1px #7f7f7f;
  border-left: solid 1px #7f7f7f;
  border-right: solid 1px #7f7f7f;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 100;
  flex-shrink: 100;
  justify-content: stretch;
  margin: 0 1px 0 0;
  max-width: 100%;
  min-width: 5rem;
  padding: 0.25rem 1.25rem 0.25rem 0.25rem;
  position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.bx-tabs-bar-tab.selected {
  background: #ccccee;
  cursor: default;
  border-bottom: #ccccee solid 1px ;
  margin-bottom: -1px;
  z-index: 2;
}

.bx-tabs-bar-tab-name {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem;
}

.bx-tabs-bar-actions {
  flex-grow: 0;
  flex-shrink: 0;
}

.bx-tabs-content {
  flex-shrink: 100;
  flex-grow: 100;
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

.bx-tabs-content-item {
  display: none;
  flex-shrink: 100;
  flex-grow: 100;
  height: 100%;
  overflow: hidden;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

.bx-tabs-content-item.active {
  display: flex;
}

.bx-tabs-bar-tab-close {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  text-align: right;
}
