.bx-layout {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bx-section {
  border: solid 1px #7f7f7f;
  border-radius: 5px;
  overflow-y: auto;
  flex-grow: 50;
}

.bx-fixed-size {
  flex-shrink: 0;
  flex-grow: 0;
}

.bx-list-element {
  background-color: #eeeeee;
  cursor: pointer;
  margin: 1px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.bx-list-element:hover {
  background-color: #cccccc;
}

.selected {
  background: #ccccee;
}

.bx-chapter-link {
  width: 30px;
  height: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

.bx-vsplitter {
  background: #ccccf7;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bx-vsplitter .bx-splitter-icon {
  font-size: 8px;
  color: #7f7ff7;
  padding: 3px;
  text-align: center;
}

.bx-search-section {
  flex-grow: 50;
}

.bx-searchlist {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  max-width: 400px;
}

/* tabs: */

.bx-tabs {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.bx-tabs-bar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-grow: 0;
  flex-shrink: 0;
}

.bx-tabs-bar-tabs {
  overflow-x: auto;
  flex-grow: 100;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.bx-tabs-bar-tab {
  border: solid 1px #7f7f7f;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 100;
  justify-content: stretch;
  align-items: stretch;
  padding: 5px;
  cursor: pointer;
}

.bx-tabs-bar-tab.selected {
  background: #ccccee;
  cursor: default;
}

.bx-tabs-bar-actions {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 5px;
}

.bx-tabs-content {
  flex-grow: 100;
}

.bx-tabs-content-item {
  display: none;
}
.bx-tabs-content-item.active {
  display: block;
}

.bx-tabs-bar-tab-name {
  min-width: 120px;
  flex-grow: 100;
}