.bx-strongs-section {
  max-height: 50vh;
  min-height: 25vh;
  overflow-y: auto;
  border: solid 1px #7f7f7f;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.bx-strongs-header {
  display: flex;
  flex-direction: row;
  background: #ccccff;
  padding: 0.25rem;
  justify-content: stretch;
  align-items: stretch;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.bx-strongs-dict-name {
  flex-grow: 90;
  flex-shrink: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.bx-strongs-close {
  flex-grow: 0;
  flex-shrink: 0;
  width: 2rem;
  text-align: right;
}

.bx-strongs-toolbar {
  padding: 0.25rem;
  font-size: 1rem;
}

.bx-strongs-content {
  flex-grow: 100;
  padding: 0.5em;
  overflow-y: auto;
  margin-bottom: 0.25em;
  line-height: 1.4em;
}
