body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1em;
}

@font-face {
  font-family: 'Material Design Icons';
  font-style: normal;
  font-weight: 300;
  src: url(/public/fonts/materialdesignicons-webfont.woff2) format('woff2'),
    url(/public/fonts/materialdesignicons-webfont.woff) format('woff'),
    url(/public/fonts/materialdesignicons-webfont.ttf) format('ttf'),
    url(/public/fonts/materialdesignicons-webfont.svg) format('svg'),
    url(/public/fonts/materialdesignicons-webfont.eot) format('eot');
}

.mdi {
  font-family: "Material Design Icons";
  text-transform: none;
}


.bx-button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  color: #333333;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.bx-button:hover {
  background: #f0f0ff;
  color: #006600;
}

.bx-button.bx-button-round {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
}

.bx-button-highlighted {
  box-shadow: inset 1px 1px 1.5rem #7f7fff;
}

.bx-button.bx-button-disabled {
  opacity: 0.2;
  cursor: default;
}

.bx-verse img {
  max-width: 100%;
}

br {
  line-height: 2em;
}