body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Material Design Icons';
  font-style: normal;
  font-weight: 300;
  src: url(/public/fonts/materialdesignicons-webfont.woff2) format('woff2'),
    url(/public/fonts/materialdesignicons-webfont.woff) format('woff'),
    url(/public/fonts/materialdesignicons-webfont.ttf) format('ttf'),
    url(/public/fonts/materialdesignicons-webfont.svg) format('svg'),
    url(/public/fonts/materialdesignicons-webfont.eot) format('eot');
}

.mdi {
  font-family: "Material Design Icons";
  text-transform: none;
}


.bx-button {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.bx-button:hover {
  background: #f0f0ff;
}

.bx-button.bx-button-round {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  line-height: 20px;
}

.bx-button-highlighted {
  box-shadow: inset 1px 1px 30px #7f7fff;
}

.bx-verse img {
  max-width: 100%;
}
